---
layout: default
---

<div class="row">
  <div class="span6">
    &nbsp;
    <h2>{{page.title}}</h2>
    {{ content }}
  </div>
  <div class="span4 pull-right">
    <img src="{{site.subdir}}/img/skattakista.png">
  </div>
</div>

<div class="row">
    <div id="bubbletree" style="position: relative;; width:700px; top: -100px;">
      <div id="preloader" style="text-align: center; padding: 100px">
	<img src="{{site.subdir}}/img/ajax-loader.gif" style="vertical-align:top" /> &nbsp;
	<span class="txt">sæki gögnin...</span>
      </div>
    </div>
</div>
<script type="text/javascript" src="{{site.subdir}}/js/jquery.js"></script>
<script type="text/javascript" src="{{site.subdir}}/js/openspending-0.0.1.min.js"></script>
<script type="text/javascript" src="{{site.subdir}}/js/icelandic.icons.js"></script>
<link rel="stylesheet" type="text/css" href="{{site.subdir}}/css/openspending-0.0.1.min.css" />
<link rel="stylesheet" type="text/css" href="{{site.subdir}}/css/tooltips.css" />

<script type="text/javascript">
</script>
<script type="text/javascript">
  !(function($) {
      if ($.browser.msie) {
         alert("Því miður virkar síðan ekki í Internet Explorer. Við mælum með því að þú skoðir hana í Firefox eða Chrome");
      }
      $('#bubbletree').bubbletree({
          data: { dataset: '{{page.dataset}}',
                  drilldowns: ['cofog1', 'cofog2', 'cofog3'],
          },
          style: {
              icons: {
                  path: '{{site.subdir}}/icons/'
              }
          }
      });
  })(jQuery);
  </script>
