<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <title>{{ site.title }}</title>
  <meta name="description" content="Hvert fer skatturinn á Íslandi?">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="{{site.subdir}}/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://assets.okfn.org/themes/okfn/okf-panel.css"/><!-- OKF Panel -->
  <link rel="stylesheet" href="{{site.subdir}}/css/style.css">
  <link rel="stylesheet" href="http://assets.openspending.org/branding/fonts/opensans/stylesheet.css" />
  <script src="{{site.subdir}}/js/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <div id="okf-panel" class="collapse"><iframe src="http://assets.okfn.org/themes/okfn/okf-panel.html" scrolling="no"></iframe></div><!-- OKF Panel -->
  <header class="main-header">
    <div class="container">
      <div class="row">
        <div class="span4">
          <div id="logo">
            <a href="{{site.subdir}}/">
		<h1>Hvert fer skatturinn?</h1>
            </a>
          </div>
        </div>
        <div class="span8">
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    {{ content }}
  </div>
</body>
</html>








